<div class="index-main">
  <div class="post-contents">
    <% @questions.each do |question| %>
      <div class="post-content">
        <div class="comment">
          <div class="commment-num">
            0
          </div>
          <div class="somment-unit">
            comments
          </div>
        </div>
        <div class="question">
          <div class="question-top">
            <div>
              タイトル：<%= question.title %>
            </div>
            <div>
              投稿者名：<%= question.name %>
            </div>
          </div>
          <div class="question-bottom">
            <div>
              内容：<%= question.content %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

