<div class="index-main">
  <div class="post-contents">
    <% @questions.each do |question| %>
      <div class="post-content">
        <div class="comment">
          <div class="comment-num">
            0
          </div>
          <div class="comment-unit">
            comments
          </div>
        </div>
        <div class="question">
          <div class="question-top">
            <div class="question-top__title">
              <%= question.title %>
            </div>
            <div class="question-top__name">
              <%= question.name %>
            </div>
          </div>
          <div class="question-bottom">
            <div class="question-bottom__comment">
              <%= question.content %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

